pre {
    font-size: 16px;
    margin: 0;
    margin-top: 10px;
}

#table-surface-template {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0px 20px;
}

box {
    width: 100px;
    height: 100px;
    background-image: url('../../assets/images/box.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
}

plate {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-image: url('../../assets/images/plate-ordinary.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
}

plate[fancy='true'] {
    background-image: url('../../assets/images/plate-fancy.png');
}

orange {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url('../../assets/images/orange.png');
    background-size: contain;
    background-repeat: no-repeat;
}

tomato {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url('../../assets/images/tomato.png');
    background-size: contain;
    background-repeat: no-repeat;
}

cucumber {
    width: 25px;
    height: 80px;
    border-radius: 40% 40% 40% 40%;
    background-image: url('../../assets/images/cucumber.png');
    background-size: contain;
    background-repeat: no-repeat;
}

plate orange,
plate tomato,
box orange,
box cucumber {
    position: absolute;
    z-index: 300;
}

plate orange:first-child,
box orange:first-child {
    top: calc(50% - 27px);
    left: calc(50% - 25px);
}

box cucumber:first-child {
    top: calc(50% - 47px);
    left: calc(50% - 15px);
}

plate orange:nth-child(2),
box orange:nth-child(2) {
    top: calc(50% - 57px);
    left: calc(50% - 25px);
}

plate orange:nth-child(3),
box orange:nth-child(3) {
    top: calc(50% - 87px);
    left: calc(50% - 25px);
}

plate tomato {
    position: absolute;
    top: calc(50% - 27px);
    left: calc(50% - 25px);
    z-index: 600;
}

plate tomato:nth-child(1) {
    top: calc(50% - 25px);
    z-index: 600;
}

.enhcanced {
    color: rgba(255, 255, 255, 0.9);
    transition: color 0.5s ease-in-out;
}

[hovered='true'] {
    cursor: pointer;
    box-shadow: 0 0 0 6px rgba(255, 255, 255, 0.4);
}

plate [hovered='true'] {
    box-shadow: 0 0 0 6px rgba(0, 0, 0, 0.3);
}

#helper-wrapper {
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    background: #fff;
    padding: 10px 15px 12px 15px;
    color: #666;
    border-bottom: solid 2px #bbb;
    box-shadow: 0px 5px 0px rgba(0, 0, 0, 0.2);
    display: none;
    transform: rotateX(20deg);
    outline: solid 1px transparent;
    word-wrap: nowrap;
    white-space: nowrap;
}

.show {
    display: block;
}

.shake {
    animation: shake 0.1s 5;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-5px);
    }
    50% {
        transform: translateX(0);
    }
    75% {
        transform: translateX(5px);
    }
}

.markup-elements {
    margin-top: 12px;
}

.markup-elements div {
    padding-left: 20px;
    margin-top: 1.4px;
    cursor: pointer;
}

.win-text {
    color: #fff;
}
